/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@import "bootstrap";

#page_header {
  margin-top: $baseline;
}

h1, h2, h3 {
  font-weight: normal;
}

.product {
  width: 210px;
  height: $baseline * 8;
  margin: 20px 20px 20px 0;
  float: left;
  overflow: hidden;
  h1, h2, h3 {
    line-height: $baseline;
    margin-bottom: $baseline * .8;
    height: $baseline * 2.2;
    overflow: hidden;
  }
  .description {
    height: $baseline * 5;
    overflow: auto;
  }
  em.highlight {
    font-weight: bold;
    font-style: normal;
  }
}

#page_main {
  @include clearfix;
}

.products {
  min-height: 220px * 2;
  max-height: 220px * 3;
  overflow: auto;
}
